version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/venv
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: ./front-web/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
